@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Music Service Meta App</h1>
    <p class="lead">Music Service Meta App is a meta application for music services. It lets end users compare music services, and move their data back and forth between services.</p>
    <p>Current Status: Alpha</p>
    <p><a href="/" class="btn btn-primary btn-lg">Lorem ipsum</a></p>
</div>

<h2>Look at the nice data from our integrated services!</h2>

<div class="row">
    <div class="col-md-2">
        <h2>Spotify</h2>
        <p>Lorem ipsum</p>
        <p>@Html.ActionLink("Spotify", "Index", "Spotify", null, new {@class = "btn btn-default source-Spotify"})</p>
    </div>
    <div class="col-md-2">
        <h2>WiMP</h2>
        <p>Dolor sit amet</p>
        <p>@Html.ActionLink("WiMP", "Index", "Wimp", null, new {@class = "btn btn-default source-Wimp"})</p>
    </div>
    <div class="col-md-2">
        <h2>Beats Music</h2>
        <p>Adeste fidelis</p>
        <p>@Html.ActionLink("Beats Music", "Index", "BeatsMusic", null, new { @class = "btn btn-default source-BeatsMusic" })</p>
    </div>
    <div class="col-md-2">
        <h2>Last.fm</h2>
        <p>Cogito ergo sum</p>
        <p>@Html.ActionLink("Last.FM", "Index", "LastFm", null, new {@class = "btn btn-default source-LastFm"})</p>
    </div>
    <div class="col-md-2">
        <h2>MusicBrainz</h2>
        <p>Volvo Lego Audio Video</p>
        <p>@Html.ActionLink("MusicBrainz", "Index", "MusicBrainz", null, new { @class = "btn btn-default source-MusicBrainz" })</p>
    </div>
</div>

<div>
    <br/>
    <p>List of candidate services to be integrated:
        The Echo Nest,
        Deezer,
        Soundcloud,
        Bandcamp,
        Allmusic,
        Discogs,
        Rate Your Music,
        WhoSampled,
        Bandsintown,
        Amazon Music,
        iTunes Store,
        Xbox Music,
        Google Play,
        Rhapsody,
        Rdio,
        7digital,
        8tracks,
        Grooveshark,
        Napster,
        Pandora,
        eMusic
    </p>
</div>